*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Signika', sans-serif;
}

 /* UTILITIES */

 body{
   font-size: 0.5rem;
 }

.row{
  width: 90%;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}

.product{
  width: 212px;
  height: 300px;
  display: inline-block;
  background-position: center;
  background-size: contain;
  position: relative;
  margin: 20px 5px;
  cursor: pointer;
}

.heart{
  position: absolute;
  right: 0;
  top: 10px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  background-color: white;
}

.foot-img{
  position: absolute;
  bottom: 10px;
  color: white;
}

.foot-img .discount{
  float: left;
  background-color: red;
  padding: 2px;
  margin-right: 2px;
  
}

.foot-img .sostenibile{
  float: left;
  background-color: green;
  padding: 2px;
}

.text{
  position: absolute;
  left: 0;
  top: 100%;
  text-align: left;
  margin-top: 5px;
}

h4{
  text-transform: uppercase;
}

.new-price{
  color: red;
  font-weight: 600;
}

.old-price {
 text-decoration: line-through;
}

.new-price::after, .old-price::after{
  content: '\20AC';
}




/* END UTILITIES */


/* IMMAGINI PRODOTTI */

.prod-1{
  background-image: url(../img/1.webp);
}

.prod-1:hover{
  background-image: url(../img/1b.webp);
}

.prod-2{
  background-image: url(../img/2.webp);
}

.prod-2:hover{
  background-image: url(../img/2b.webp);
}

.prod-3{
  background-image: url(../img/3.webp);
}

.prod-3:hover{
  background-image: url(../img/3b.webp);
}

.prod-4{
  background-image: url(../img/4.webp);
}

.prod-4:hover{
  background-image: url(../img/4b.webp);
}

.prod-5{
  background-image: url(../img/5.webp);
}

.prod-5:hover{
  background-image: url(../img/5b.webp);
}

.prod-6{
  background-image: url(../img/6.webp);
}

.prod-6:hover{
  background-image: url(../img/6b.webp);
}
